{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Poke App</title>
</head>
<body>
    <div id="navbarre">
        <ul id="navbarre">
            <li id="navbarre"><a href="/pokedex">Home</a></li>
            <li id="navbarre"><a href="/pokedex/pokemon/1/">Pokedex</a></li>
            <li id="navbarre"><a href="/pokedex/search/bulbasaur/">Search</a></li>
            <li id="navbarre" class="active"><a href="/pokedex/team">Team</a></li>
            <li id="navbarre"><a href="/pokedex/about">About</a></li>
        </ul>
    </div>
    <div id="info">
        <br>
        <center><h3>Here is your team</h3><br></center>
        <center><button id="deletButton" type="button" onclick="getdelete();" style="background-color: #363636; border: none;color: white; padding: 5px 10px;font-size: 16px;"> Delete Team </button></center>
    </div>
    <script>
        function getdelete() {
          
        }
      </script>
</body>
</html>
